.alphabet {
  display: flex;
  flex-flow: row wrap;
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
  width: 40%;
  color: #30c5ff;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 40px;
}

.alpha__char {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
  font-weight: 700;
}

.sources {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  font: 300 1em 'Fira Sans', sans-serif;
  overflow-x: hidden;
  justify-content: center;
  margin: 0 auto;
}

.source__item {
  display: none;
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
  font-weight: 400;
  white-space: nowrap;
}

.alpha__char:hover,
.alpha__char:focus {
  color: #69db7e;
  transform: translateY(-0.20em);
}

.source__item:hover,
.source__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

@keyframes move {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.source__item.active,
.alpha__char.active {
  border-color: #3fcc59;
  color: #69db7e;
}

@media (max-width: 720px) {
  .sources {
    width: 90%;
  }
  
  .source__item {
    padding: 0.8em 1em;
  }

  .alphabet {
    width: 50%;
  }
}
