.company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-top: 10px;

  .company-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #ffffff;
  }
  
  .company-button {
    margin-bottom: 10px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
  }

  .company-button:hover {
    color: #b0976d;
    transition: 0.8s;
  }

  .company-button.active {
    color: #b0976d;
  }
}

.power {
  width: 170px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .power-title {
    font-size: 20px;
    font-weight: 600;
    color: #b0976d;
    padding-bottom: 15px;
  }

  .power__content {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    font-size: 16px;

    .power-button {
      cursor: pointer;
      font-size: 16px;
      width: 18px;
      height: 18px;
      margin-right: 20px;
    }
  }
}

.color {
  width: 170px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

    .color-title{
      font-size: 20px;
      font-weight: 600;
      color: #b0976d;
      padding-bottom: 15px;
    }

    .color__content {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 10px;
      font-size: 16px;

      .color-button {
        cursor: pointer;
        font-size: 16px;
        width: 18px;
        height: 18px;
        margin-right: 20px;
      }
  }
}

.popular {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;

  .popular-title {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #ffffff;
    margin-right: 20px;
  }

  .popular-button {
    cursor: pointer;
    font-size: 16px;
    width: 18px;
    height: 18px;
    border: 2px solid #000000;
  }

  .popular-button:hover {
    background-color: #b0976d;
    transition: 0.8s;
  }

  .popular-button.active {
    border: 2px solid #dd1c1c;
  }
}