@import "nullstyle.scss";

body {
  color: #ffffff;
  background: #000000;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  align-items: center;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 100%;
    color: #b0976d;
  }

  main {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    max-width: 1440px;

    .render {
      display: flex;
      flex-direction: column;
      padding-right: 60px;
      padding-top: 60px;
    }
  }
}




// footer {
//     height: 100px;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
// }