@import "nullstyle.scss";

body {
    position: absolute;
    color: #ffffff;
    background: #000000;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
}


// footer {
//     height: 100px;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
// }


