.main {
  padding-left: 10px;
  .control-line {
  padding-bottom: 10px;
  .control-line__reset,
  .control-line__race {
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
    color: #c9a0a0;
    border: 2px solid #c9a0a0;
    border-radius: 3px;
    font-size: 14px;
  }

  .control-line__generate {
    width: 160px;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
    color: #c9a0a0;
    border: 2px solid #c9a0a0;
    border-radius: 3px;
    font-size: 14px;
  }

  button:hover {
    background-color: #000000;
    color: #db8282;
    border-color: #db8282;
  } 

  button.active {
    background-color: #000000;
    color: #db8282;
    border-color: #db8282;
  } 
} 

.update {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  .input__name {
    margin-right: 10px;
    height: 30px;
    background: transparent;
    color: #c9a0a0;
    border: 2px solid #c9a0a0;
    border-radius: 3px;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  .input__color {
    margin-right: 10px;
    height: 28px;
    background: transparent;
    color: #c9a0a0;
    border: 2px solid #c9a0a0;
    border-radius: 3px;
    cursor: pointer;
  }
  .update__btn {
    width: 100px;
    height: 30px;
    background-color: transparent;
    color: #c9a0a0;
    border: 2px solid #c9a0a0;
    border-radius: 3px;
    font-size: 14px;
  }
  button:hover {
    background-color: #000000;
    color: #db8282;
    border-color: #db8282;
  } 
}

.create {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;

  .input__name {
    margin-right: 10px;
    height: 30px;
    background: transparent;
    color: #c9a0a0;
    border: 2px solid #c9a0a0;
    border-radius: 3px;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
  }

  .input__color {
    margin-right: 10px;
    height: 28px;
    background: transparent;
    color: #c9a0a0;
    border: 2px solid #c9a0a0;
    border-radius: 3px;
    cursor: pointer;
  }

  .create__btn {
    width: 100px;
    height: 30px;
    background-color: transparent;
    color: #c9a0a0;
    border: 2px solid #c9a0a0;
    border-radius: 3px;
    font-size: 14px;
  }

  button:hover {
    background-color: #000000;
    color: #db8282;
    border-color: #db8282;
  }
}
}